.document {
  margin: 0;
}

.pages {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  flex-wrap: wrap;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  outline: 1px dashed black;
}

.card {
  align-items: center;
  background: #dddddd;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px;
  outline: 1px dashed #aaa;
  border-style: solid;
  border-color: black;
}

.card .card-section-name {
  font-weight: bold;
  width: 100%;
}

.card .card-section-text {
  width: 100%;
}
